<%= form_tag '/add' do %>
  <%= text_field_tag :product %>
  <%= submit_tag 'add to cart' %>
<% end %>

<!-- The page should have, at a minimum:
a text box where the user can enter the name of a product,
a submit button that adds it to their cart -->

<ul>
<% session[:cart].each do |item| %>
  <li><%= item %></li>
<% end %>
</ul>
